body {
  background-image: url "bwinshmanISOM215.github.io/Images/teaChamomile.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 90%, 90;
  background-position: center;
  
  font-family: cursive;
}
